* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    "hdr hdr hdr"
    "nav art ads"
    "ftr ftr ftr"
  
}

#header {
  background-color: #f3ca40;
  grid-area: hdr;
}

#nav {
  grid-area: nav;
  background-color: #4b4e6d;
  align-content: center;
}

#articles {
  grid-area: art;
  background-color: #6a8d92;
}

#ads {
  grid-area: ads;
  background-color: #f2a541;
}

#footer {
  grid-area: ftr;
  background-color: #f08a4b;
}

@media(max-width: 1099px) and (min-width: 700px) {
  #app {

    font-size: 3.5em; 
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 10% 50% 25%;
    grid-template-areas: 
    "hdr hdr"
    "nav nav"
    "art ads"
    "ftr ftr"

  }
}

@media(max-width: 699px) {
  #app {

    grid-template-rows: 30% 15% 40% 20% 30%;
    grid-template-areas: 
    "hdr hdr"
    "nav nav"
    "art art"
    "ads ads"
    "ftr ftr"

  }
}
